/* .triangle {
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 300px solid red;
  } */
.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    padding-top: 3px;
}

.current-ph {
    position: relative;
    width: 28px;
    /* top: -26px;
    left: 50%; */
    /* transform: translateX(-50%); */
    font-weight: bold;
    /* background-color: white; */
    /* padding: 4px 8px; */
    padding-top: 0%;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}

.current-value {
    position: relative;
    width: 28px;
    /* top: -26px;
    left: 50%; */
    /* transform: translateX(-50%); */
    font-weight: bold;
    /* background-color: white; */
    /* padding: 4px 8px; */
    padding-top: 0%;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}
  
.comment {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}

.water_wave {
    width: 100px;
    height: 100px;
    background: #48a4e5;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.8),
    0 0 10px 0 rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
.water_wave:after,
.water_wave:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    /* top: -50%; */
    top: calc(var(--water-level) * -1%); /* changes water level based on humidity */
    left: 50%; /* center the wave */
    background: #fff;
}
.water_wave:after {
    border-radius: 45%;
    animation: water_wave 10s linear infinite;
}
.water_wave:before {
    border-radius:38%;
    background: rgba(255, 255, 255, 0.5);
    animation: water_wave 10s linear infinite;
}
@keyframes water_wave {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}